[packages]
backoff = "*"
boto3 = "*"
python-decouple = "*"
requests = "*"
structlog = "*"

[dev-packages]
advbumpversion = "*"
autoflake = "*"
codecov = "*"
isort = "*"
moto = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
pytest-localstack = "*"
pytest-xdist = "*"
recommonmark = "*"
sentry_sdk = "*"
sphinx = "*"
wheel = "*"

[requires]
python_version = "3.6"
